* {
  font-family:
    Symbols Nerd Font,
    RobotoMono Nerd Font;
  min-height: 0;
  font-size: 12px;
  font-weight: bold;
  color: #e9e9ea;
}

window#waybar {
  background-color: #1a1b26;
  transition-duration: 0.5s;
}

#tray,
#language,
#cpu,
#wireplumber,
#backlight,
#battery,
#network,
#custom-bilal,
#custom-sep,
#clock {
  padding: 0 5px;
}

#workspaces {
  margin-left: 12px;
  margin-right: 12px;
}

#workspaces button {
  padding: 0 6px;
  min-width: 9px;
}

#workspaces button.urgent {
  background-color: #e60053;
  padding: 0 20px;
}

#workspaces button.empty,
#wireplumber.muted,
#network.disconnected {
  opacity: 0.5;
}

#submap {
  background-color: #e60053;
  color: white;
  padding: 0 12px;
  margin-right: 12px;
}

#battery.critical {
  color: #e60053;
}

#battery.charging {
  color: inherit;
}

#custom-launcher,
#custom-powermenu,
tooltip label {
  font-size: 14px;
}
