/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #222D32;
    background-alt: #29353B;
    foreground:     #B8C2C6;
    selected:       #00BCD4;
    active:         #21FF90;
    urgent:         #FF4B60;
}
