* {
    background:     #000000;
    background-t:   #000000F4;
    background-alt: #101010;
    foreground:     #FFFFFF;
    selected:       #62AEEF;
    active:         #98C379;
    urgent:         #E06B74;
}
