* {
    background:     #323D43;
    background-t:   #323D43F4;
    background-alt: #3C474D;
    foreground:     #DAD1BE;
    selected:       #7FBBB3;
    active:         #A7C080;
    urgent:         #E67E80;
}
