* {
    background:     #1D1F28;
    background-t:   #1D1F28F4;
    background-alt: #282A36;
    foreground:     #FDFDFD;
    selected:       #79E6F3;
    active:         #5ADECD;
    urgent:         #F37F97;
}
