* {
    background:     #24273A;
    background-t:   #24273AF4;
    background-alt: #1E2030;
    foreground:     #D9E0EE;
    selected:       #C6A0F6;
    active:         #91D7E3;
    urgent:         #F5BDE6;
}
