* {
    background:     #F1F1F1;
    background-t:   #F1F1F1F4;
    background-alt: #E0E0E0;
    foreground:     #252525;
    selected:       #008EC4;
    active:         #10A778;
    urgent:         #C30771;
}
