* {
    background:     #1A1B26;
    background-t:   #1A1B26F4;
    background-alt: #32344988;
    foreground:     #E9E9EA;
    selected:       #C0CAF5;
    active:         #73daca;
    urgent:         #F7768E;
}
