* {
    background:     #F5E7DE;
    background-t:   #F5E7DEF4;
    background-alt: #EBDCD2;
    foreground:     #34302D;
    selected:       #D97742;
    active:         #BF8F60;
    urgent:         #B23636;
}
